@use 'colors.scss' as *;

#bottom-toolbar {
    position: absolute;
    width: 35px;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 8px;
    border-radius: 8px;

    background-color: $bcg-dark;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    transition: transform 0.3s ease;

    &.collapsed {
        transform: translateY(-50%) translateX(calc(-100% - 24px));
    }}

.bottom-toolbar-button, .bottom-toolbar-tool, .bottom-toolbar-toggle {
    width: 38px;
    height: 38px;
    margin: 0px 1px;
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        font-size: 16px !important;
        line-height: 100%;
    }

    svg {
        color: $clr-default;
        width: 24px;
        height: 24px;
    }
}

.bottom-toolbar-separator {
    width: 38px;
    height: 2px;
    margin: 4px 0px;
    background-color: $bcg-primary;
}

.bottom-toolbar-button {
    svg {
        color: $clr-default !important;
    }
}

.bottom-toolbar-tool {
    background-color: $bcg-primary;

    svg {
        color: $clr-default
    }

    &.active {
        color: $clr-active;
        background-color: $clr-hilight !important;

        svg {
            color: $clr-active;
        }
    }

    &.disabled {
        background-color: $bcg-dark;

        svg {
            color: $clr-disabled;
        }
    }

    &#bottom-toolbar-flood {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: 2px;
            bottom: 2px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 5px 5px;
            border-color: transparent transparent $clr-default transparent;
        }

        &.active::after {
            border-color: transparent transparent $clr-active transparent;
        }
    }
}

.bottom-toolbar-popup {
    position: absolute;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: $bcg-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    z-index: 100;

    .bottom-toolbar-tool {
        width: 38px;
        height: 38px;
        margin: 0px 1px;
    }
}

.bottom-toolbar-toggle.active {
    &::before {
        color: $clr-hilight;
    }

    svg {
        color: $clr-hilight;
    }
}
