
.tool-svg {
    display: inline;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    &.hidden {
        display: none;
    }

    &#brush-select-svg {
        >circle {
            fill: rgba(255, 102, 0, 0.2);
            stroke: #f60;
            stroke-width: 1;
            stroke-dasharray: 5, 5;
        }
    }

    &#paint-tool-svg {
        pointer-events: none;

        >circle {
            stroke: none;
        }

        >.paint-brush-adjustment-guide {
            fill: none;
            stroke-width: 1.5px;
            vector-effect: non-scaling-stroke;
        }

        >.paint-brush-adjustment-guide-back {
            stroke: white;
        }

        >.paint-brush-adjustment-guide-front {
            stroke: #f00;
            stroke-dasharray: 5px 5px;
            animation: paint-brush-marching-ants 0.5s linear infinite;
        }
    }

    &#rect-select-svg {
        >rect {
            fill: none;
            stroke: #f60;
            stroke-width: 1;
            stroke-dasharray: 5, 5;
        }
    }

    &#lasso-select-svg {
        >polygon {
            fill: none;
            stroke-width: 1;
            stroke-dasharray: 5, 5;
            stroke-dashoffset: 0;
        }
    }

    &#polygon-select-svg {
        >polyline {
            fill: none;
            stroke-width: 1;
            stroke-dasharray: 5, 5;
            stroke-dashoffset: 0;
        }
    }

    &#bound-dimensions-svg {
        pointer-events: none;

        > text {
            font-family: monospace;
            font-size: 11px;
            fill: white;
            paint-order: stroke;
            stroke: rgba(0, 0, 0, 0.7);
            stroke-width: 3px;
        }
    }

    &#measure-tool-svg {
        >#measure-line-bottom {
            stroke: black;
            stroke-width: 6;
        }

        >#measure-line-top {
            stroke: white;
            stroke-width: 2;
        }

        >#measure-line-start, >#measure-line-end {
            fill: white;
            stroke: black;
            stroke-width: 2;
            r: 5;
        }
    }

    &#orient-tool-svg {
        pointer-events: none;

        >line[id$='-bottom'] {
            stroke: black;
            stroke-width: 6;
        }

        >line[id$='-top'] {
            stroke: white;
            stroke-width: 2;
        }

        >polygon {
            fill: rgba(255, 255, 255, 0.15);
            stroke: none;
        }

        >use[href='#orient-dot-prototype'] {
            fill: white;
            stroke: black;
            stroke-width: 2;
        }
    }
}

@keyframes paint-brush-marching-ants {
    to {
        stroke-dashoffset: -10px;
    }
}

.paint-decal-cursor {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    object-fit: contain;
    opacity: 0.5;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.9));
    z-index: 0;

    &.hidden {
        display: none;
    }
}
